n8n-workflows/BaraunaBot.json
{
  "name": "Baraunabot copy",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3f55240a-0b98-4644-ad9c-693ad9d6a451",
              "name": "name",
              "value": "={{ $json.message.from.first_name }}",
              "type": "string"
            },
            {
              "id": "81e3bccc-8a4d-4e0f-99a6-4e2ccc826e09",
              "name": "language",
              "value": "={{ $json.message.from.language_code }}",
              "type": "string"
            },
            {
              "id": "dba58451-fb6a-4790-88b9-1ee22301c24f",
              "name": "message",
              "value": "={{ $json.message.text }}",
              "type": "string"
            },
            {
              "id": "21a89487-9207-47f8-95db-8359c6472e0b",
              "name": "chat_type",
              "value": "={{ $json.message.entities[0].type }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -840,
        160
      ],
      "id": "28588c0e-3728-4a3e-bd88-40120db5d0d2",
      "name": "Telegram Fields Mapping"
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {
          "chatIds": "1260278001"
        }
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -1160,
        300
      ],
      "id": "d966f4d4-c97a-47e8-bc1a-f06bb945dac3",
      "name": "Telegram Listener",
      "webhookId": "52a43d3e-2c14-4c66-8ef1-02ef41913099",
      "credentials": {
        "telegramApi": {
          "id": "XQuRur6dVexqEOfy",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "db3d18a8-42fe-4c83-8168-65a88e31f6af",
              "leftValue": "={{ $json.chat_type }}",
              "rightValue": "bot_command",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -580,
        340
      ],
      "id": "647e9a55-5209-4d38-b9be-c653d66b1cd6",
      "name": "Fiter BotCommands"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "d4b96254-9dbc-48b4-ba24-cc0ef7579d53",
              "leftValue": "={{ $json.message }}",
              "rightValue": "/status",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -300,
        200
      ],
      "id": "df844c7e-74ec-470b-abe8-48253e52c237",
      "name": "/status"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "911417ee-9b83-42f2-97af-b736dba842e0",
              "leftValue": "={{ $json.message }}",
              "rightValue": "/uptime",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -300,
        580
      ],
      "id": "6d5ba3d4-e208-446c-b4ed-f66892a1ab10",
      "name": "/uptime"
    },
    {
      "parameters": {
        "chatId": "1260278001",
        "text": "={{ $json.stdout }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        400,
        200
      ],
      "id": "b9e025f8-bb1a-4e9e-ab41-beb854b519aa",
      "name": "Telegram",
      "webhookId": "c84da5be-2d54-4f87-b74d-d07b5b2e367e",
      "credentials": {
        "telegramApi": {
          "id": "XQuRur6dVexqEOfy",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "command": "#!/bin/bash\n\n# CPU (uso total em %)\nCPU_USAGE=$(top -bn1 | grep \"Cpu(s)\" | awk '{print 100 - $8}')\n\n# RAM (uso em %)\nMEM_USAGE=$(free | awk '/Mem:/ { printf(\"%.2f\"), $3/$2 * 100 }')\n\n# Disco (uso em % da partição raiz)\nDISK_USAGE=$(df -h / | awk 'NR==2 {print $5}' | tr -d '%')\n\n# Containers Docker em execução\nDOCKER_CONTAINERS=$(docker ps -q | wc -l)\n\n# Exibe o resultado formatado\necho \"🔧 Status do Sistema:\"\necho \"🖥️ CPU usada: ${CPU_USAGE}%\"\necho \"📈 RAM usada: ${MEM_USAGE}%\"\necho \"💽 Disco usado: ${DISK_USAGE}%\"\necho \"📦 Containers Docker ativos: ${DOCKER_CONTAINERS}\""
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        40,
        200
      ],
      "id": "a9e56780-b718-467c-9352-a9c4b94f8bb1",
      "name": "System Status"
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Fields Mapping": {
      "main": [
        [
          {
            "node": "Fiter BotCommands",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Listener": {
      "main": [
        [
          {
            "node": "Telegram Fields Mapping",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fiter BotCommands": {
      "main": [
        [
          {
            "node": "/uptime",
            "type": "main",
            "index": 0
          },
          {
            "node": "/status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "/status": {
      "main": [
        [
          {
            "node": "System Status",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "System Status": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "7cfc6aee-d37c-4077-be8b-739c748468b7",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "94e111e939528bef4bdabc7d63e49d22d18540866cf0e7b707d125a85b1d650e"
  },
  "id": "L3hHXFFI4PLLae58",
  "tags": []
}