n8n/workflows/GithubDeployments.json
{
  "name": "GithubDeployments",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "gh-deployments",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -500,
        0
      ],
      "id": "04906631-3ac3-4557-b365-40c389ad5a7e",
      "name": "Webhook",
      "webhookId": "ff3a9b57-4fa8-4879-8e49-db3377ba5a9d"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"deployment.id\": {{ $json.body.deployment.id }},\n  \"repository.name\": \"{{ $json.body.repository.full_name }}\",\n  \"repository.url\": \"{{ $json.body.repository.html_url }}\",\n  \"deployment.environment\": \"{{ $json.body.deployment.environment }}\",\n  \"workflow_run.branch\": \"{{ $json.body.workflow_run.head_branch }}\",\n  \"workflow_run.title\": \"{{ $json.body.workflow_run.display_title }}\",\n  \"workflow_run.status\": \"{{ $json.body.workflow_run.status }}\",\n  \"deployment.url\": \"{{ $json.body.workflow_run.html_url }}\",\n  \"deployment.created_at\": \"{{ $json.body.deployment.created_at }}\",\n  \"workflow_run.triggered_by\": \"{{ $json.body.workflow_run.actor.login }}\",\n  \"workflow_run.triggered_by_url\": \"{{ $json.body.workflow_run.actor.html_url }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -260,
        0
      ],
      "id": "11fa63fe-fbcc-479b-8b72-ed7f5d8587c9",
      "name": "DeploymentFieldsMap"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"telegram.chat.id\": -1002588304306,\n  \"telegra.thread_id\": 5\n}\n",
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -40,
        0
      ],
      "id": "0a97a932-e658-4394-b8d0-85ede6770e03",
      "name": "TelegramFieldsMap"
    },
    {
      "parameters": {
        "chatId": "={{ $json.telegram.chat.id }}",
        "text": "=🚀 <b>New active deployment</b>\n\n<b>📦 Repository:</b> <a href=\"{{ $json.repository.url }}\">{{ $json.repository.name }}</a>  \n<b>🌍 Environment:</b> {{ $json.deployment.environment }}\n<b>🔖 Branch:</b> {{ $json.workflow_run.branch }}  \n<b>💬 Workflow:</b> {{ $json.workflow_run.title }}  \n\n<b>⚙️ Workflow Status:</b> {{ $json.workflow_run.status }}  \n<b>🔗 Deployment:</b> <a href=\"{{ $json.deployment.url }}\">View execution</a>  \n<b>🕒 Created at:</b> {{ $json.deployment.created_at }}  \n\n<b>👤 Triggered by:</b> <a href=\"{{ $json.workflow_run.triggered_by_url }}\">{{ $json.workflow_run.triggered_by }}</a>",
        "additionalFields": {
          "parse_mode": "HTML",
          "message_thread_id": "={{ $json.telegra.thread_id }}"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        180,
        0
      ],
      "id": "63c43b72-2b71-4a93-9c50-9e5d0558c370",
      "name": "Telegram",
      "webhookId": "ea48a6f1-244c-45c5-aca5-53823b367a55",
      "credentials": {
        "telegramApi": {
          "id": "0Wrtqe10sSS0PVdH",
          "name": "BaraunaBotConnection"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "DeploymentFieldsMap",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DeploymentFieldsMap": {
      "main": [
        [
          {
            "node": "TelegramFieldsMap",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TelegramFieldsMap": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "5f00da9d-a0cc-4bfe-ac5f-1307274862f9",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8038ae3fc3fb39fd3d15323fd5f22964d079890e49da24db99a1c3d831d0f60a"
  },
  "id": "lVtEz2FET46CeoE0",
  "tags": [
    {
      "createdAt": "2025-05-26T02:54:12.473Z",
      "updatedAt": "2025-05-26T02:54:12.473Z",
      "id": "sqf1EriEOsiFo00D",
      "name": "github"
    }
  ]
}