n8n/workflows/InfraCommander.json
{
  "name": "InfraCommander",
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "9f38c1bc-5b59-43a2-bcf2-0357fc7ad4fe",
              "leftValue": "={{ $json.message.entities[0].type }}",
              "rightValue": "bot_command",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -580,
        180
      ],
      "id": "b951fad5-8921-4299-9eec-b25618dce246",
      "name": "FilterBotCommands"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "/top",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "b2676f48-411c-43bb-b65c-336aea7aeb1f"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "/top"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "5baa504b-b6f4-4b6e-9547-9574c768859f",
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "/containers",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "/containers"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "39d5c70a-12e3-4baf-afb3-e9936e81a254",
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "/traffic",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "/traffic"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "85b8f733-206a-4cae-bed8-30c0ef40ee9e",
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "/logs",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "/logs"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "20e36f28-0652-4b2c-8e9c-f28beafe697e",
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "/health_check",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "/health_check"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "c41ca8e8-8139-4ff8-a54d-6e516c7aed40",
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "/bans",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "/bans"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -80,
        120
      ],
      "id": "e7458776-992d-4336-8af6-4cd15e89299e",
      "name": "Switch"
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {
          "chatIds": "1260278001"
        }
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -780,
        180
      ],
      "id": "b2b6e5f2-7999-4890-bf2e-3e3e8f10a811",
      "name": "TelegramListener",
      "webhookId": "f2b98ce8-101c-4ad2-948c-d737121d5ac0",
      "credentials": {
        "telegramApi": {
          "id": "0Wrtqe10sSS0PVdH",
          "name": "BaraunaBotConnection"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "225758d9-c86d-4480-aad7-41c5520c52db",
              "name": "message.message_id",
              "value": "={{ $json.message.message_id }}",
              "type": "number"
            },
            {
              "id": "7ede1c2e-e34d-4ddd-85c5-5b977772dba5",
              "name": "message.text",
              "value": "={{ $json.message.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -340,
        180
      ],
      "id": "d56b1fbf-6f95-4dc1-a8de-6379524e5de1",
      "name": "FieldsMapping"
    },
    {
      "parameters": {
        "command": "ssh root@168.231.100.213 \"/opt/scripts/n8n/workflows/InfraCommander/top.sh\""
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        200,
        -220
      ],
      "id": "49ce6d7e-e983-469a-a0b9-4fb80c3e491e",
      "name": "/top"
    },
    {
      "parameters": {
        "chatId": "={{ $('TelegramListener').item.json.message.chat.id }}",
        "text": "={{ $json.stdout }}",
        "additionalFields": {
          "reply_to_message_id": "={{ $('TelegramListener').item.json.message.message_id }}"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        620,
        180
      ],
      "id": "18a2dcbe-6010-456d-a879-94f4445d3fdf",
      "name": "Telegram",
      "webhookId": "d4872eaf-33d2-43bf-9e1c-dd6fc3f2a9d6",
      "alwaysOutputData": true,
      "credentials": {
        "telegramApi": {
          "id": "0Wrtqe10sSS0PVdH",
          "name": "BaraunaBotConnection"
        }
      }
    },
    {
      "parameters": {
        "command": "ssh root@168.231.100.213 \"/opt/scripts/n8n/workflows/InfraCommander/containers.sh\""
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        200,
        -20
      ],
      "id": "d66a8fdd-cd04-4388-9f6c-290a44f016db",
      "name": "/containers"
    },
    {
      "parameters": {
        "command": "ssh root@168.231.100.213 \"/opt/scripts/n8n/workflows/InfraCommander/traffic.sh\""
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        200,
        180
      ],
      "id": "860f4bc8-034a-41da-84f2-9b0ccda1b94f",
      "name": "/traffic"
    },
    {
      "parameters": {
        "command": "ssh root@168.231.100.213 \"/opt/scripts/n8n/workflows/InfraCommander/logs.sh\""
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        200,
        380
      ],
      "id": "7af0ff44-737b-4bd9-9ebb-ade2ec2ed021",
      "name": "/logs"
    },
    {
      "parameters": {
        "command": "ssh root@168.231.100.213 \"/opt/scripts/n8n/workflows/InfraCommander/health_check.sh\""
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        200,
        580
      ],
      "id": "fdc6c94c-3604-4b01-88fc-4127572bd71b",
      "name": "/health_check"
    },
    {
      "parameters": {
        "command": "ssh root@168.231.100.213 \"/opt/scripts/n8n/workflows/InfraCommander/fail2ban_status.sh\""
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        200,
        780
      ],
      "id": "535ca363-60eb-411c-8804-dc159f486e65",
      "name": "/health_check1"
    }
  ],
  "pinData": {},
  "connections": {
    "FilterBotCommands": {
      "main": [
        [
          {
            "node": "FieldsMapping",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TelegramListener": {
      "main": [
        [
          {
            "node": "FilterBotCommands",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FieldsMapping": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "/top",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "/containers",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "/traffic",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "/logs",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "/health_check",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "/health_check1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "/top": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "/containers": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "/traffic": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "/logs": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "/health_check": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram": {
      "main": [
        [],
        []
      ]
    },
    "/health_check1": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "991e348d-a361-4dcc-9c10-55a1536c3ec9",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8038ae3fc3fb39fd3d15323fd5f22964d079890e49da24db99a1c3d831d0f60a"
  },
  "id": "BL25ldc2Zo6brD4k",
  "tags": [
    {
      "createdAt": "2025-05-25T22:42:10.382Z",
      "updatedAt": "2025-05-25T22:42:10.382Z",
      "id": "NcBpCWcUTc80Q2Cc",
      "name": "infra"
    }
  ]
}